/* Add button css */
button {
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;
  background-color: #09a5f3a2;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  border: #09a5f3a2;
  transition: 0.5s;
  margin-left: auto;
  margin-top: 5px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  background-color: #09a5f3;
}

.addIcon {
  margin-bottom: 13px;
}

/* Css to de categorias */
#subrayado {
  position: relative;
}

#subrayado::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0d0c22b7;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.7s ease-out;
  border-radius: 10px;
}

#subrayado:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
